<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myd.dao.NpayAinongReconMapper" >
  <resultMap id="BaseResultMap" type="com.myd.entity.NpayAinongRecon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mer_id" property="merId" jdbcType="CHAR" />
    <result column="mer_name" property="merName" jdbcType="VARCHAR" />
    <result column="txnAmt" property="txnamt" jdbcType="DECIMAL" />
    <result column="out_fee" property="outFee" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="orderId" property="orderid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mer_id, mer_name, txnAmt, out_fee, create_time, orderId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from npay_ainong_recon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from npay_ainong_recon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myd.entity.NpayAinongRecon" >
    insert into npay_ainong_recon (id, mer_id, mer_name, 
      txnAmt, out_fee, create_time, 
      orderId)
    values (#{id,jdbcType=INTEGER}, #{merId,jdbcType=CHAR}, #{merName,jdbcType=VARCHAR}, 
      #{txnamt,jdbcType=DECIMAL}, #{outFee,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{orderid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myd.entity.NpayAinongRecon" >
    insert into npay_ainong_recon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="merName != null" >
        mer_name,
      </if>
      <if test="txnamt != null" >
        txnAmt,
      </if>
      <if test="outFee != null" >
        out_fee,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merId != null" >
        #{merId,jdbcType=CHAR},
      </if>
      <if test="merName != null" >
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="txnamt != null" >
        #{txnamt,jdbcType=DECIMAL},
      </if>
      <if test="outFee != null" >
        #{outFee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myd.entity.NpayAinongRecon" >
    update npay_ainong_recon
    <set >
      <if test="merId != null" >
        mer_id = #{merId,jdbcType=CHAR},
      </if>
      <if test="merName != null" >
        mer_name = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="txnamt != null" >
        txnAmt = #{txnamt,jdbcType=DECIMAL},
      </if>
      <if test="outFee != null" >
        out_fee = #{outFee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myd.entity.NpayAinongRecon" >
    update npay_ainong_recon
    set mer_id = #{merId,jdbcType=CHAR},
      mer_name = #{merName,jdbcType=VARCHAR},
      txnAmt = #{txnamt,jdbcType=DECIMAL},
      out_fee = #{outFee,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      orderId = #{orderid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>